language: php

php:
    - 5.5
    - 5.6
    - 7.0
    - 7.1
    - hhvm

before_script:
    - composer self-update
    - composer install --no-interaction --prefer-source
    - if [[ "$TRAVIS_PHP_VERSION" == '5.6' ]]; then composer require satooshi/php-coveralls:1.* squizlabs/php_codesniffer:2.* -n ; fi
    - if [[ "$TRAVIS_PHP_VERSION" != '5.6' ]]; then composer install -n ; fi

script:
    - if [[ "$TRAVIS_PHP_VERSION" == '5.6' ]]; then mkdir -p build/logs && php vendor/bin/phpunit --coverage-clover build/logs/clover.xml ; fi
    - if [[ "$TRAVIS_PHP_VERSION" != '5.6' ]]; then php vendor/bin/phpunit ; fi

after_script:
    - if [[ "$TRAVIS_PHP_VERSION" == '5.6' ]]; then php vendor/bin/coveralls --coverage_clover=build/logs/clover.xml -v ; fi
